body {
    font-family: 'Mulish', sans-serif;
    padding-top: 56px;
}

main {
    overflow: hidden;
}

section {
    position: relative;
}

.section-wrapper {
    display: flex;
    position: relative;
}

.header-wrapper {
    max-width: 1247px;
    width: 90%;
    margin: auto;
    position: relative;
    padding-bottom: 155px;
}

.section-wrapper {
    max-width: 1120px;
    width: 90%;
    margin: auto;
}

.button {
    width: 200px;
    text-align: center;
    border: 2px solid #458FF6;
    border-radius: 55px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #458FF6;
    padding: 20px 0;
    transition: 200ms;
    cursor: pointer;
}

.button:hover {
    background-color: #458FF6;
    color: #fff;
    transform: translateY(-5px);
}

.button:active{
    transform: scale(0.95);
}

.dots {
    position: absolute;
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    cursor: pointer;
}

nav ul {
    display: flex;
    font-size: 18px;
    font-weight: normal;
}

nav ul .active {
    font-weight: bold;
    color: #1F1534;
}

nav ul li {
    margin-left: 40px;
    color: rgba(31, 21, 52, 0.5);
    cursor: pointer;
}

header h1 {
    margin-top: 185px;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    max-width: 427px;
    width: 90%;
}

header p {
    margin-top: 25px;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    max-width: 445px;
    width: 90%;
}

.consult-button {
    display: inline-block;
    margin-top: 45px;
    padding: 20px 40px;
    background: #458FF6;
    border-radius: 55px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: 100ms;
}

.consult-button:hover {
    transform: translateY(-5px);
}

.consult-button:active{
    transform: scale(0.95);
}

.header-illustration {
    position: absolute;
    bottom: 0;
    right: -40px;
    max-width: 690px;
    width: 90%;
    z-index: -1;
}   

.dots-header {
    top: 150px;
    transform: translateX(-40%);
}

/* SERVICES SECTION */

section.services {
    padding-top: 160px;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
}

h2::after {
    content: '';
    background-color: #000000;
    display: block;
    margin: 26px 0 0;
    border-radius: 5px;
    width: 56px;
    height: 2px;
}

.services h2::after {
    margin: 26px auto 0;
}

.services > p {
    margin: 33px auto 0;
    max-width: 950px;
    width: 90%;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.services-wrapper {
    margin-top: 80px;
    flex-direction: column;
    align-content: center;
}

.card-row {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.card-row.last-row{
    margin-bottom: 70px;
}

.card {
    background-color: #fff;
    text-align: left;
    padding: 50px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    max-width: 350px;
}

.card img {
    max-height: 70px;
}

.card h3 {
    font-weight: bold;
    font-size: 24px;
    padding: 40px 0 20px;
}

.card p {
    max-width: 260px;
    width: 95%;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.backdrop {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 150px;
}

.dots-services {
    right: 0;
    top: 34.5%;
    transform: translateX(40%);
    z-index: -1;
}

/* HEALTHCARE SECTION */

.healthcare {
    padding-top: 220px;
}

.healthcare-wrapper {
    justify-content: flex-end;
}

.healthcare-illustration{
    position: absolute;
    top: -50px;
    left: -200px;
    z-index: -1;
}

.healthcare-info p{
    max-width: 400px;
    width: 95%;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    padding: 30px 0 35px;
}

.healthcare-info {
    max-width: 480px;
}

.dots-healthcare {
    right: 0;
    bottom: 0;
    transform: translate(40%, 110%);
    z-index: -1;
}

/* APPS SECTION */

.apps {
    padding-top: 250px;
}

.apps-wrapper {
    justify-content: flex-start;
}

.apps-illustration{
    position: absolute;
    top: -50px;
    right: -70px;
    z-index: -1;
}

.apps-info h2 {
    max-width: 250px;
}

.apps-info p{
    max-width: 400px;
    width: 95%;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    padding: 30px 0 35px;
}

.apps-info .button{
    box-sizing: border-box;
    padding-right: 35px;
    background-image: url('img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 40px center;
}

.apps-info .button:hover{
    background-image: url('img/arrow-down-hover.svg');
}

/* CUSTOMER SECTION */

.customers {
    padding-top: 250px;
    color: #fff;
}

.customer-container {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    width: 100%;
    padding: 64px 0 90px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.customer-container h2{
    margin: auto;
    padding-bottom: 65px;
    max-width: 550px;
    width: 90%;
}

.customer-container h2::after{
    margin: 25px auto 0;
    background-color: #fff;
}

.customer-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.inner-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
}

.customer p {
    font-weight: normal;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
}

.inner-left img{
    padding-right: 30px;
}

.customer-comment{
    flex: 1;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);  
}

.customer-comment p {
    max-width: 395px;
    margin-left: 20px;
}

.dots-customers-right {
    top: -15px;
    right: -45px;
}

.dots-customers-left {
    bottom: 40px;
    left: -55px;
}

.customer-nav {
    margin: 40px auto 0;
    max-width: 335px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-nav img{
    cursor: pointer;
}


.nav-dots {
    display: flex;
}

.nav-dot {
    width: 10px;
    height: 10px;
    background: #5B9BF3;
    opacity: 0.3;
    border-radius: 50%;
    margin: 0 9px;
    cursor: pointer;
}

.nav-dot.active {
    opacity: 1;
}

/* ARTICLE SECTION */

.articles {
    padding: 220px 0 200px;
    text-align: center;
}

.article-wrapper {
    justify-content: space-between;
    margin-bottom: 70px;
}

.articles h2::after{
    margin: 25px auto 80px;
}

.article-card {
    max-width: 350px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    overflow: hidden;
    text-align: left;
    padding-bottom: 35px;
}

.article-info {
    padding-left: 35px;
}

.article-info h5 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    max-width: 250px;
}

.article-info > p {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    margin-top: 10px;
}

.article-image {
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-image-1 {
    background-image: url('img/article-1.png');
}

.article-image-2 {
    background-image: url('img/article-2.png');
}

.article-image-3 {
    background-image: url('img/article-3.png');
}

.article-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.article-button p {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
    margin-right: 20px;
    cursor: pointer;
    transition: 200ms;
}

.article-button p:hover {
    margin-right: 25px;
}

.backdrop-2 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 200px;
}

.dots-article {
    z-index: -1;
    left: -50px;
    top: -43px;
}

.dots-article-2 {
    z-index: -1;
    right: 240px;
    bottom: -45px;
}

/* FOOTER */

footer {
    overflow: hidden;
    position: relative;
    padding: 120px 0;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: #fff;
}

.footer-wrapper {
    max-width: 1247px;
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.company-info {
    margin: 15px 0 30px;
    max-width: 390px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.company img {
    cursor: pointer;
}

.copyright {
    font-weight: 300;
    font-size: 16px;
}

.footer-links h6 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer-links li {
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    cursor: pointer;
}

.dots-footer {
    bottom: -18px;
    left: -18px;
}